/*------------------------       Medium devices (tablets, 768px and up)    ------------------------*/
@media (min-width: 768px) {

    .navbar {
        padding: 0 1rem;
    }

    .announse {
        padding-right: 60px;
    }


    /*==============  Main Event  ==============*/
    .main_event .content {
        padding-top: 5rem;
        padding-right: 5rem;
    }

    /*slick*/
    .slick-next {
        right: 10px;
    }


    /*============  News  ============*/
    .main_news {
        /*padding-right: 400px;*/
    }


    .footer_menu_item{
        font-size: 0.9em;
    }

}



/*------------------------       Medium devices (tablets, less than 992px)    ------------------------*/
@media (max-width: 991px) {


    /*==============  Main Event  ==============*/
    .main_event .content {
        padding-left: 100px;
    }

    .main_event h1 {
        font-size: 3.5rem;
    }


}




/*-----------------------       Large devices (desktops, 992px and up)    -------------------------*/
@media (min-width: 992px) {

    /*==============  Main Event  ==============*/
    .main_event .content {
        padding-right: 25%;
    }



}


/*-------------------   Small devices (landscape phones, less than 768px)    --------------------*/

@media (max-width: 767px) {

    .container_mid{
        padding-left: 0;
    }

    .navbar-toggler {
        padding: 0.25rem 0;
    }

    .main_logo_container {
        min-height: 85px;
    }

    .main_logo_container .container_mid {
        padding-left: 140px;
        padding-right: 0 !important;
    }

    .container_wid {
        padding-left: 0;
    }

    .announse_wrapper {
     font-size: 0.8em;
    }

    .announse {
        padding-right: 30px;
        /*padding-top: 15px;*/
    }



    /*========== Logo ===========*/
    .logo {
        height: 58px;
        left: 0;
        top: -15px;
        width: 120px;
    }



    /*========= Slick =========*/
    .slick-next {
        right: 0;
        top: 45px;
    }

    .slick-prev{
        display: none !important;
    }



    /*==============  Main Event  ==============*/

    .main_event .content {
        padding-left: 10px;
        padding-right: 0;
        padding-top: 2rem;
    }

    .main_event h1 {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .main_event .match_result .count{
        font-size: 3.5em;
    }



    /*============  News  ============*/
    .main_news .advert_container{
        /*padding-left: 0;*/
    }





    /*================ footer ===============*/
    .footer .copyright {
        position: relative;
        top: 0;
        margin-bottom: 2rem;
    }

    .footer_menu_item{
        margin-bottom: 2rem;
    }

    .social_footer.ml-auto {
        position: absolute;
        right: 0;
        top: 30px;
    }

}



