@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,400i,700&subset=cyrillic');

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}




/*------------------------------    Общие стили     -----------------------------*/

.navbar{
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav{
    text-transform: uppercase;
    font-size: 20px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

a{
    transition: .2s;
    color: rgba(37, 37, 37, 1);
    border-bottom: 1px solid rgba(37, 37, 37, .5);
}

a:hover{
    color: rgba(197, 0, 42, 1);
    border-bottom-color: rgba(197, 0, 42, .5);
    text-decoration: none;
}

.service_block{
    position: absolute;
    right: 1rem;
}

.container_mid{
    padding-left: 270px;
}












/*------------------------------     Footer     ------------------------------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

